<h1>New list</h1>

<%= simple_form_for @list do |f| %>
  <%= f.input :name %>
  <%= f.input :image_url, label: "Background image URL" %>
  <%= f.button :submit, "Create list", class: "btn btn-primary" %>
<% end %>

<%= link_to "Back to lists", lists_path, class: "btn btn-link" %>
